$paddingSite: calc(50% - 570px);
$paddingTablet: calc(50% - 383px);
$paddingMobile: calc(50% - 172px);
$blackColor: #222;
$whiteColor: #FFF;
$grayColor: #6F6E6E;
$pinkColor: #F16D7F;
$lightColor: #F1E4E6;
$cardColor: #F8F8F8;
$lightPink: #F8F3F4;
$borderColor: #EAEAEA;
$commentsText: 14px;
$smallText: 16px;
$padding: 48px;
