* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 75px;
  background: #222;
  position: relative;
}

.logo__search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 33px;
}

.menu_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  position: absolute;
  top: 75px;
  right: 0;
  background: #FFF;
  min-width: 232px;
  padding-top: 32px;
  padding-bottom: 32px;
  fill: #FFF;
  filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
}

.hidden {
  display: none;
}

.menu_section {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-left: 30px;
}

.menu_section p {
  font-weight: 700;
}

.second_menu_link {
  color: #6F6E6E;
}

.main_menu_link {
  color: #F16D7F;
}

.bag {
  position: relative;
}
.bag__full {
  width: 19px;
  height: 19px;
  border-radius: 20px;
  background-color: #F16D7F;
  color: #FFF;
  position: absolute;
  right: -10px;
  top: -10px;
}
.bag__full p {
  display: flex;
  justify-content: center;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #F1E4E6;
  flex-wrap: wrap;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}
.top__all {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.top__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.top__text-header {
  color: #222;
  font-size: 48px;
  font-weight: 900;
}
.top__text-down {
  color: #222;
  font-size: 32px;
  font-weight: 700;
}
.top__text-red {
  color: #F16D7F;
}

.all__offers {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding-top: 65px;
}

.size_bg {
  width: 360px;
  height: 240px;
}

.offers_women_bg {
  background-image: url(image/women1.jpg);
}

.offers_men_bg {
  background-image: url(image/men2.jpg);
}

.offers_kids_bg {
  background-image: url(image/child3.jpg);
}

.offers_accesories_bg {
  background-image: url(image/accesories.jpg);
  width: 1140px;
  height: 180px;
}

.offers_color {
  width: 100%;
  height: 100%;
  background-color: rgba(33, 22, 22, 0.7);
}

.offers_text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: center;
  justify-content: center;
}
.offers_text p {
  font-size: 16px;
  color: #FFF;
}
.offers_text h2 {
  font-size: 24px;
  color: #F16D7F;
  font-weight: 700;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  padding-top: 96px;
}

.cards__text-title {
  color: #222;
  font-size: 30px;
  text-align: center;
}
.cards__text-text {
  font-size: 14px;
  color: #6F6E6E;
  text-align: center;
  padding-bottom: 48px;
}

.all__cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding-bottom: 48px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 360px;
  padding-bottom: 20px;
  background: #F8F8F8;
}
.card__title {
  font-size: 13px;
  padding-left: 16px;
}
.card__text {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 300;
  padding-left: 16px;
  padding-right: 28px;
}
.card__price {
  color: #F16D7F;
  font-size: 16px;
  padding-left: 16px;
}

.cards__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 23px;
  justify-content: center;
  min-width: 212px;
  background: transparent;
  height: 48px;
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #F16D7F;
}
.cards__button:hover {
  color: #FFF;
  background: #F16D7F;
  border: none;
}

.image_overlay {
  width: 100%;
  height: 420px;
  position: relative;
}

.dark {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(58, 56, 56, 0.86);
  z-index: 5;
  opacity: 0;
}
.dark:hover {
  opacity: 1;
}
.dark__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  min-width: 139px;
  background: transparent;
  height: 48px;
  color: #FFF;
  font-size: 14px;
  border: 1px solid #FFF;
  justify-content: center;
}
.dark__button image {
  width: 26px;
}

.black__section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  background: #222;
  margin-top: 95px;
  padding-top: 104px;
  padding-bottom: 104px;
  justify-content: center;
}
.black__section-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 360px;
  align-items: center;
}
.black__section-h3 {
  font-size: 20px;
  color: #FBFBFB;
  text-align: center;
}
.black__section-text {
  color: #FBFBFB;
  text-align: center;
  font-size: 14px;
}

.img__delivery {
  width: 45px;
  margin-bottom: 12px;
}

.img__sales {
  width: 40px;
  margin-bottom: 3px;
}

.img__crown {
  width: 47px;
  margin-bottom: 9px;
}

.white__section {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding-top: 96px;
  padding-bottom: 126px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.white__section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(image/bg.png);
  background-size: cover;
  opacity: 0.3;
  z-index: -1;
}
.white__section-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 360px;
}
.white__section-left p {
  color: #222;
  text-align: center;
  font-size: 20px;
}
.white__section-right {
  max-width: 557px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.white__section-right h3 {
  color: #222;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.white__section-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px;
  padding-top: 32px;
}
.white__section-input-email {
  background: #E1E1E1;
  height: 49px;
  width: 256px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.white__section-input-email::-moz-placeholder {
  padding: 20px;
}
.white__section-input-email::placeholder {
  padding: 20px;
}
.white__section-input-button {
  background-color: #F16D7F;
  color: #FFF;
  height: 49px;
  width: 100px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  height: 79px;
  background: #222;
}
.footer__text {
  color: #F8F8F8;
  font-size: 16px;
}
.footer__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.product__top {
  position: relative;
}
.product__top__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #F8F3F4;
  height: 148px;
}
.product__top__header h2 {
  font-style: 24px;
  color: #F16D7F;
}
.product__top__image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #F8F8F8;
  padding-top: 11px;
  padding-bottom: 42px;
}
.product__top-link a {
  color: #6F6E6E;
}
.product__top-link a:nth-child(3) {
  color: #F16D7F;
}

.product__big-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  width: 1141px;
  background: #FFF;
  position: absolute;
  top: 0;
  left: calc(50% - 570px);
  z-index: 1;
  top: 879px;
  border: solid 1px #EAEAEA;
  padding-top: 65px;
  padding-bottom: 65px;
}
.product__big-card h2 {
  font-size: 16px;
  color: #F16D7F;
  font-weight: 300;
}
.product__big-card h1 {
  font-size: 18px;
  color: #222;
  font-weight: 300;
}
.product__big-card p {
  font-size: 14px;
  color: #6F6E6E;
  font-weight: 300;
  text-align: center;
}
.product__big-card-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 555px;
  padding-top: 16px;
  align-items: center;
  padding-bottom: 64px;
}
.product__big-card-price {
  font-size: 24px;
  color: #F16D7F;
  font-weight: 300;
}
.product__big-card-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 23px;
  padding-top: 32px;
  padding-bottom: 16px;
}
.product__big-card-filter button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
}

.products--page-product {
  padding-top: 664px;
}

.filter__catalog {
  position: relative;
  padding-top: 39px;
}
.filter__catalog-details {
  padding-top: 16px;
  padding-left: 14px;
  padding-right: 16px;
  padding-bottom: 16px;
  width: 360px;
  position: absolute;
}
.filter__catalog-details summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
  color: #222;
  font-size: 14px;
  font-weight: 600;
}
.filter__catalog-details[open] {
  background: #FFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
}
.filter__catalog-details[open] summary {
  color: #F16D7F;
}
.filter__catalog-details[open] path {
  fill: #F16D7F;
}
.filter__catalog-content summary {
  margin-top: 24px;
  padding-left: 20px;
  padding-bottom: 11px;
  font-weight: 400;
  border-bottom: solid 1px #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.filter__catalog-items-links {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-top: 24px;
  padding-left: 20px;
}
.filter__catalog-items a {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
}
.filter__catalog-sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 28px;
  align-items: start;
  padding-top: 16px;
  padding-left: 390px;
  font-size: 14px;
  color: #6F6E6E;
  position: absolute;
}
.filter__catalog-sort summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  align-items: center;
}
.filter__catalog-sort-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  left: 541px;
  top: 39px;
  background: #FFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  padding-top: 9px;
  padding-left: 9px;
  padding-bottom: 11px;
  padding-right: 30px;
}
.filter__catalog-sort-chek {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
}

.products--page-catalog {
  padding-top: 93px;
}

@media (max-width: 1230px) {
  .center {
    padding-left: calc(50% - 383px);
    padding-right: calc(50% - 383px);
  }
  .top {
    justify-content: center;
  }
  .image__top {
    width: 386px;
  }
  .header__top {
    font-size: 44px;
  }
  .header__down {
    font-size: 24px;
  }
  .all__offers {
    gap: 18px;
    justify-content: center;
  }
  .size_bg {
    width: 232px;
    height: 168px;
    background-size: contain;
  }
  .offers_accesories_bg {
    width: 736px;
    height: 116px;
    background-size: contain;
  }
  .black__section {
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    align-content: center;
    padding-top: 48px;
    padding-bottom: 64px;
    margin-top: 64px;
  }
  .white__section {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
}
@media (max-width: 752px) {
  .mobile_hiden {
    display: none;
  }
  .top {
    height: 363px;
  }
  .center {
    padding-left: calc(50% - 172px);
    padding-right: calc(50% - 172px);
  }
  .header__top {
    font-size: 38px;
  }
  .header__down {
    font-size: 20px;
  }
  .size_bg {
    width: 343px;
    height: 247px;
  }
  .offers_accesories_bg {
    background-size: auto;
    background-repeat: no-repeat;
  }
  .white__section-left {
    width: 343px;
  }
  .white__section-right {
    width: 341px;
  }
  .white__section-input-email {
    width: 256px;
  }
  .white__section-input-button {
    width: 96px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-content: center;
    height: 143px;
    padding-top: 40px;
    flex-direction: column-reverse;
  }
}/*# sourceMappingURL=style.css.map */